<div class="container myContainer">

  <div class="card-header">
    <h3>Archived Notes</h3>
  </div>

  <div *ngFor="let archivedNote of notes" class="card myCard">

    <span style="display: none">{{archivedNote.noteId}}</span>
    <span class="myCard-heading">{{archivedNote.noteTitle}}</span>
    <span class="myCard-note">{{archivedNote.noteContent}}</span>

    <div class="myCard-buttons">
      <button  class="edit" (click)="editNote(archivedNote.noteId)"><i class="fa fa-edit" ></i></button>
      <button class="archive" (click)="archiveNote(archivedNote.noteId)"><i class="fa fa-archive"></i></button>
      <button class="delete" (click)="deleteNote(archivedNote.noteId)"><i class="fa fa-remove"></i></button>
    </div>

  </div>

</div>

